header {
	height: 90px;
	background-color: #d3d3d3;
	font-family: "Avenir Next";
	font-size: 12Spx;
	color: #000000;
}

main {
	margin-top:530px;
}

.iam {
	height: 450px;
	background-image: url(cover.jpg);
	padding: 10px 30px;
	background-size: cover;
}

.hello {
	height: 300px;
	padding: 5px 15px;
	background-color: #000;
	color: white;
}

.sns-links {
	margin-top: 500px;
}

.sns-links a{
	list-style: none;
	float: left;
	margin-right: 10px; 
	margin-left: 20px;
	padding: 10px;
	color: white;
	border-radius: 10px; 
}


.facebook {
	background-color: #3B5998;
}

.Instagram {
	background-color: #262626;
}

.note {
	background-color: #2cb696;
}

.hello li{
	list-style: none;
}

footer p {
	margin-top: 590px;
	margin-right: 35px;
	text-align: right;
	color: white;
}


