header {
	height: 90px;
	background-color: #f5f5f5;
	font-family: "Avenir Next";
	font-size: 12Spx;
	color: #000;
}

.iam {
	padding: 10px 30px;
	float: left;
}

.hello {
	float: left;
	padding: 10px 30px;
}

.hello li{
	list-style: none;
}

.me {
	width: 600px;
	padding: 30px 30px;
}