header {
	height: 90px;
	background-color: #d3d3d3;
	font-family: "Avenir Next";
	font-size: 12Spx;
	color: #000000;
}

.iam {
	height: 470px;
	background-image: url(cover.jpg);
	padding: 10px 30px;
	background-size: cover;
}

.hello {
/*	float: left; */
	padding: 5px 15px;
	background-color: #000;
	color: white;
}

.hello li{
	list-style: none;
}

.me {
	width: 600px;
	padding: 30px 30px;
}

.sns-links {
	list-style: none;
	padding: 30px 30px;
	float: left;
}

.sns-links li{
	float: left;
	padding: 0px 0px 0px 30px;
}
